* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

input {
    &:focus {
        outline: none;
    }
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 100dvw;
}

.App {
    position: relative;
    display: flex;
    width: 100dvw;
    overflow: hidden;
}

.none {
    display: none !important;
}

.NavBorder {
    border-bottom: 1px solid #111111b4;
}


.full-h {
    height: 100dvh;
}

.full-w {
    width: 100dvw;
}