* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

input {
    &:focus {
        outline: none;
    }
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.App {
    position: relative;
    display: flex;
}

.none {
    display: none !important;
}

.NavBorder {
    border-bottom: 1px solid #111111b4;
}