$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$LightBlack: #111111b4;
$MidBlack: #1d1e20;
$White: hsl(0, 0%, 100%);
$lightGray: rgb(238, 238, 238);
$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;