@use '../../../../../sass//abstracts/' as a;

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.second-banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@include a.laptop {
    .banner-text {
        align-items: flex-start;
        position: absolute;
        top: 30%;
        left: 10%;
    }
}

@include a.laptop {
    .second-banner-text {
        align-items: flex-start;
        position: absolute;
        top: 30%;
        right: 15%;
    }
}