@use '../../../sass/abstracts' as a;

.nav-icons-buttons {}

.nav-icons-buttons-image {
    width: 35px;
    height: 35px;
    color: white;
}

.nav-icons-button {
    background: none;
    border: none;
    margin: 3px;
    position: relative;
}


@include a.laptop {
    .nav-icons-buttons-image {
        width: 30px;
        height: 30px;
    }
}


/* query */