.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start {
    justify-content: flex-start;
}

.relative {
    position: relative;
}